body{
    text-align: center !important;
 
    
}
h2{
    color: #007bff !important;
}
.unos{
max-width: 40vw !important;
margin: 0 auto;
margin-top: 3rem !important;
}

.items{
    display: inline-flex;
  flex-wrap: wrap;
}

.imgsize{
    min-height: 200px !important;
    max-height: 200px !important;
}
.modal-body{
    float:  left !important;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}

.positionMeal{
    text-align: center !important;
    margin: 0 auto;
    margin-top: 4rem  !important;
}
.navButton{
    float:  right !important;
    position:  absolute !important;
    right:1rem;
    top: 1rem;
}
.createMeal{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.card-title{
    text-transform: capitalize;
    
}

